body{
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
}
.link{
    text-decoration: none;
    color:black;
}
li{
    list-style: none;
}
.container{
    position: relative;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.projects{
    position: absolute;
    display: grid;    
    grid-template-columns:1fr 1fr;
    text-align: center;
    grid-row-gap:50px;
    width:900px;
    right:50vw;
    margin-right: -500px;
    grid-column-gap:50px;
    margin-bottom: 100px;
}
.project{
    width:auto;
    height:auto;
    max-width: 350px;
    border-radius: 5px;
    padding: 20px;
    display: block;
    box-sizing: border-box;
    background-color: white;
}
.attribution{
    font-size: 10px;
}
.profile{
    text-decoration: none;
}
.screenshot:hover{
    transform: scale(1.1);
}
@media screen and (max-width:800px) {
    .projects{
        position: absolute;    
        right:50vw;
        margin-right: -200px;
        display: block;
        width:375px;
    }
    .project{
        margin-bottom: 20px;
    }
    .screenshot:hover{
        transform: scale(1);
    }
    
}
