@font-face {
    font-family: "Montserrat";
    src: url("./fonts/Montserrat/static/Montserrat-Light.ttf");
}
@font-face {
    font-family: "Montserrat-Thin";
    src: url("./fonts/Montserrat/static/Montserrat-Thin.ttf");
}
@font-face {
    font-family: "Montserrat-SemiBold";
    src: url("./fonts/Montserrat/static/Montserrat-SemiBold.ttf");
}
@font-face {
    font-family: "Fraunces";
    src: url("./fonts/Fraunces/static/Fraunces_120pt_Soft/Fraunces_120pt_Soft-Bold.ttf");
}
:root{
    --bg-color:hsl(30, 38%, 92%);
    
    --container-width:576px;
    --container-height:432px;
    
    --container-width-mobile:345px;
    --container-height-mobile:630px;
    
    --label-color:hsl(228, 12%, 48%);
    --title-color:hsl(212, 21%, 14%);
    
    --btn-success:hsl(158, 36%, 37%);
    
    --product-image-width:288px;
    --product-image-height:432px;
    
    --font-size-general:14px;

}

body{
background-color: var(--bg-color);
}
.container{
    background-color: hsl(0, 0%, 100%);
    width: var(--container-width);
    height: var(--container-height);
    border-radius: 10px;
    position: absolute;
    right:50vw;
    top:50vh;
    margin-top: calc((-1)*var(--container-height)*(1/2));
    margin-right:calc((-1)*var(--container-width)*(1/2));
}
.label{
font-size: var(--font-size-general);
font-family:Montserrat-SemiBold;
font-weight:500;
color:var(--label-color);
width:calc(var(--product-image-width)*0.8) ;
line-height: 20px;
}
.title{
    font-family: Fraunces;
    font-weight: 700;
    color: var(--title-color);
    width:200px;
    line-height: 30px;
}

.new-price{
    font-family:Fraunces;
    font-weight: 700;
    color:var(--btn-success);
    font-size: xx-large;
    margin-right: 30px;
    vertical-align: middle;
}
.old-price{
    font-family: Montserrat-Thin;
    text-decoration: line-through;
    font-weight: 700;
    color: hsl(228, 12%, 48%);
    font-size: var(--font-size-general);
  
}
.btn{
    background-color: var(--btn-success);
    color:hsl(0, 0%, 100%);
    border: none;
    padding: 10px;
    width: 228px;
    border-radius:5px;
    font-family:Montserrat-SemiBold;
    text-align: center;
    margin-top: 20px;
    font-size: var(--font-size-general);
    
}
.btn:hover{
    background-color: hsl(158, 36%, 25%);  

}
#icon-cart{
    width:var(--font-size-general);
    margin-right: 10px;

}
.row{
    display:inline-flex;
}
.product-image{
    width:var(--product-image-width);
    background-image: url("./images/image-product-desktop.jpg");
    height:var(--product-image-height);
    background-size: var(--product-image-width) var(--product-image-height);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.col{
    display:block;
    width:var(--product-image-width);
    padding: 30px;
    box-sizing: border-box;
}
@media screen and (max-width: 600px){
    .container{
        background-color: hsl(0, 0%, 100%);
        width: var(--container-width-mobile);
        height: var(--container-height-mobile);
        border-radius: 10px;
        position: absolute;
        right:50vw;
        top:50vh;
        margin-top: calc((-1)*var(--container-height-mobile)*(1/2));
        margin-right:calc((-1)*var(--container-width-mobile)*(1/2));
    }
    .row{
        display:block;
    }
    .col{
        display:block;
        box-sizing: border-box;
    }
    .product-image{
        width:var(--container-width-mobile);
        background-image: url("./images/image-product-mobile.jpg") ;
        height: 260px;
        background-size:var(--container-width-mobile);
        background-repeat: no-repeat;
        border-bottom-left-radius: 0px;
        border-top-right-radius:5px ;
    }

    .label{
        width: 290px;
    }

    .title{
       width:290px;
        
    }
    .btn{
        width: 290px;
        margin-top: 20px;
            
    }    
}
    