@font-face {
    font-family:"Overpass";
    src: url("./Overpass/Overpass-VariableFont_wght.ttf");
}
body{
    background-color: hsl(216, 12%, 8%);
}
.container{
    font-family:"Overpass";
    color:hsl(0, 0%, 100%);
    width:330px;
    height:330px;
    background-color: hsl(213, 19%, 18%);
    position: absolute;
    right:50vw;
    top:50vh;
    margin-right: -180px;
    margin-top: -180px;
    border-radius: 20px;
    padding: 30px;
}
.star-box{
    width:50px;
    height: 50px;
    background-color:hsla(216, 12%, 54%,0.1);
    border-radius: 25px;
    text-align: center;
}
.star{
    width:15px;
    margin-top: 17.5px;
}
.title{
    font-weight: 700;
    font-size: 22px;
}
.description{
    color: hsl(216, 12%, 54%);
    font-size: 15px;
    line-height: 25px;
}
.rate-box{
    color: hsl(216, 12%, 54%);
    font-size: 15px;
    font-weight: 700;
    
    width:50px;
    height: 50px;
    border-radius: 25px;
    background-color:hsla(216, 12%, 54%,0.1);
    text-align: center;
    display: inline-block;
    padding: auto;
    margin-left:12px;
   
}
.btn{
    background-color: hsl(25, 97%, 53%);
    border: none;
    color: hsl(0, 0%, 100%);
    width:330px;
    padding: 10px;
    border-radius: 20px;
    font-family: "Overpass";
    font-size: 15px;
}
#thanks-state{
    display: none;
}
.btn:hover{
    color:hsl(25, 97%, 53%);
    background-color: hsl(0, 0%, 100%);
}
.rate-box:hover{
    background-color:hsl(25, 97%, 53%);
    color:hsl(0, 0%, 100%);
}

.clicked{
    color:hsl(0, 0%, 100%);
    background-color: hsl(216, 12%, 54%);
}
#message{
    display: block;
    height: 25px;
}
.selection{
   color: hsl(25, 97%, 53%);
   background-color: hsla(216, 12%, 54%,0.1);
   width:162px;
   padding: 5px;
   border-radius: 30px;
   margin-bottom: 20px;
   font-size: 15px;
   font-weight: 400;
   margin-left: 65px;
}
.thank-you-image{
    margin-bottom: 20px;
}
#rate-selected{
    font-weight:400;
}
#thanks-state{
    text-align: center;
}
@media screen and (max-width:600px) {
    .container{
        font-family:"Overpass";
        color:hsl(0, 0%, 100%);
        width:320px;
        height:330px;
        background-color: hsl(213, 19%, 18%);
        position: absolute;
        right:50vw;
        top:50vh;
        margin-right: -165px;
        margin-top: -170px;
        border-radius: 20px;
        padding: 10px;
    }
    .rate-box{
        color: hsl(216, 12%, 54%);
        font-size: 15px;
        font-weight: 700;
        
        width:50px;
        height: 50px;
        border-radius: 25px;
        background-color:hsla(216, 12%, 54%,0.1);
        text-align: center;
        display: inline-block;
        padding: auto;
        margin-left:10px;
       
    }
    .btn{
        background-color: hsl(25, 97%, 53%);
        border: none;
        color: hsl(0, 0%, 100%);
        width:320px;
        padding: 10px;
        border-radius: 20px;
        font-family: "Overpass";
        font-size: 15px;
    }
}