
body{
   background-image:linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
   background-repeat: no-repeat;
   background-size: cover;
   font-family: 'Kumbh Sans', sans-serif;
   min-height: 150vh;
}


.container{
    position: absolute;
    right:50vw;
    top:50vh;
    width:922px;
    height:560px;
    margin-right:-461px;
    margin-top:-254px;
    
    border-radius: 20px;
    box-shadow: 5px 10px 30px rgba(19, 19, 19, 0.2);
    
    background-color: white;
    display:inline-flex;
    
}
.box-illu{
    width:190px;
}

.side-design{
    background-image: url("./images/illustration-woman-online-desktop.svg"),url("./images/bg-pattern-desktop.svg");
    background-size: 105%,200%;
    background-position: -80px 50px,-490px -240px;
    background-repeat: no-repeat,no-repeat;
    
    width:461px;
    height: 520px;
    padding-top: 19%;
    box-sizing: border-box;
    position: relative;
    
}

.faq{
    padding: 30px;
    box-sizing: border-box;
}
.images{
    margin-left: -120px;
    display: inline;
    
}


.title{
    font-weight: 700;
}
.answer{
    display: none;
    color:hsl(240, 6%, 50%);
    width: 400px;
}
.question{

    color:hsl(237, 12%, 33%);
}
.question:hover{

    color: hsl(14, 88%, 65%)
}
hr{
    color:hsl(240, 5%, 91%);
    width: 411px;
}
.answer-active{
    display: block;
}
.question-box{
    margin-bottom: 20px;
    margin-top: 20px;
}
.open{
    transform: rotate(180deg);

}
.close{
    transform: rotate(-180deg);
}
.question-active{
    color: hsl(238, 29%, 16%);
    font-weight: 700;
}
.woman-mobile{
    width: 0px;
}

@media screen and (max-width:1100px){
    .container{
        position: absolute;
        right:50vw;
        top:50vh;
        width:365px;
        height:540px;
        margin-right:-188px;
        margin-top:-150px;
        
        border-radius: 20px;
        box-shadow: 5px 10px 30px rgba(19, 19, 19, 0.2);
        
        background-color: white;
        display:block;
    }
    .box-illu{
        width:0px;
    }
    .side-design{
        width:365px;
        height: 218px;
        
        padding-top:0%;
        margin-bottom: 0px;
        
        position: relative;
        background-image: url("./images/bg-pattern-mobile.svg");
        background-position:45px 105px;
        background-size: 70%;
        background-repeat: no-repeat;
      
    }
    .title{
        margin-left: 40%;
    }
    .images{
        
        display: block;
        position: relative;
        margin-left: 45px;
        margin-top: -120px;
    }
    .woman-mobile{
        width:250px;
       
    }
    .faq{
        padding: 20px;
        box-sizing: border-box;
        position: relative;
       width: 320px;
        
    }
    .answer{
        display: none;
        color:hsl(240, 6%, 50%);
       width:320px
    }
    hr{
        width: 320px;
    }
    .question-box{
        margin-bottom: 15px;
        margin-top: 15px;
        width:320px
    }
    .answer-active{
        display: block;
    }

}